---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Snakes and Serpents</title>
	</head>
	<body>
		<h1>Snakes and Serpents</h1>
		<h2>
			<a href="./posts/Boas">Boas</a>
			</h2>
		<h2><a href="./posts/Hognoses">Hognoses</a></h2>
		<h2><a href="./posts/Vipers">Vipers</a></h2>
	</body>
</html>
